@import "bourbon/bourbon";
@import "pakyow-css/vars";

$font-main: "Helvetica Neue", Helvetica, sans-serif;
$font-code: Consolas, Menlo, Courier, monospace;

$color-white: #fff;
$color-black: #202020;
$color-red: #ff3800;
$color-gray: #777;
$color-xgray: #f7f7f7;
$color-lgray: #ddd;
$color-mgray: #aaa;
$color-dgray: #555;

$weight-semibold: 500;

$margin: $container-margin;

$h1-factor: 1.8;
$h2-factor: 1.3;

$em-base: 10;

$radius: rem(3);

$message-hfont-size: rem(13);
$message-pfont-size: rem(10);

$border:rem(1) solid #aaa;

@mixin mobile {
  @media (max-width: 500px) {
    @content;
  }
}

@import "pakyow-css/base";

footer {
  margin-top: 100px;

  svg {
    fill: $color-red;
  }

  p, a {
    @include rem(font-size, 11);
    color: $color-mgray;
  }

  .social-links {
    float: right;

    li {
      margin-bottom: 5px;
    }

    iframe {
      display: block;
    }
  }
}

.gplus {
  display: none;
}

h2 {
  font-weight: $weight-semibold;
}

a {
  color: $color-red;
  font-weight: $weight-semibold;
}

hr {
  border: none;
  height: 1px;
  background: $color-lgray;
}

h1 strong {
  text-transform: uppercase;
  font-weight: 700;
}

.marketing {
  @include rem(font-size, 17);
  @include rem(line-height, 28);
  color: $color-dgray;
}

pre.highlight {
  border: 1px solid $color-lgray;
  font-family: $font-code;
  border-radius: 2px;
  padding: 10px;
  margin: 30px 0;
}

p code {
  background: $color-xgray;
  border-radius: 2px;
  padding: 5px 5px;
}
