html {
  font-size: 62.5%;
  line-height: 62.5%; }

body {
  margin: 20px; }

body, input, button {
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

code, code * {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 18.2px;
  line-height: 1.82rem;
  margin-bottom: 18.2px;
  margin-bottom: 1.82rem;
  font-family: Consolas, Menlo, Courier, monospace; }

pre {
  line-height: 0; }

p code {
  font-size: 11.7px;
  font-size: 1.17rem;
  display: inline; }

h1 {
  font-size: 23.4px;
  font-size: 2.34rem;
  line-height: 32.76px;
  line-height: 3.276rem;
  margin-bottom: 16.38px;
  margin-bottom: 1.638rem;
  margin-top: 24.57px;
  margin-top: 2.457rem; }

h2 {
  font-size: 16.9px;
  font-size: 1.69rem;
  line-height: 23.66px;
  line-height: 2.366rem;
  margin-bottom: 11.83px;
  margin-bottom: 1.183rem;
  margin-top: 17.745px;
  margin-top: 1.7745rem; }

h3 {
  font-size: 18.2px;
  font-size: 1.82rem;
  line-height: 25.48px;
  line-height: 2.548rem;
  margin-bottom: 12.74px;
  margin-bottom: 1.274rem;
  margin-top: 19.11px;
  margin-top: 1.911rem; }

h4 {
  font-size: 15.6px;
  font-size: 1.56rem;
  line-height: 21.84px;
  line-height: 2.184rem;
  margin-bottom: 10.92px;
  margin-bottom: 1.092rem;
  margin-top: 16.38px;
  margin-top: 1.638rem; }

h5 {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 18.2px;
  line-height: 1.82rem;
  margin-bottom: 9.1px;
  margin-bottom: 0.91rem;
  margin-top: 13.65px;
  margin-top: 1.365rem; }

p {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 18.2px;
  line-height: 1.82rem;
  margin-bottom: 9.1px;
  margin-bottom: 0.91rem; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

hr {
  margin-top: 18.2px;
  margin-top: 1.82rem;
  margin-bottom: 18.2px;
  margin-bottom: 1.82rem; }

/*****************************
    Type
*****************************/
.lead, .lead * {
  font-size: 15.6px;
  font-size: 1.56rem;
  line-height: 21.84px;
  line-height: 2.184rem;
  margin-bottom: 21.84px;
  margin-bottom: 2.184rem; }
  .lead code, .lead * code {
    font-size: 14.04px;
    font-size: 1.404rem; }

/*****************************
    Lists
*****************************/
ul, ol {
  margin-bottom: 9px;
  margin-bottom: 0.9rem;
  margin-left: 25px;
  margin-left: 2.5rem; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 18.2px;
  line-height: 1.82rem; }

ul.horizontal, ol.horizontal {
  margin: 0;
  display: inline; }
  ul.horizontal li, ol.horizontal li {
    display: inline; }

ul.plain, ol.plain {
  margin-left: 0; }
  ul.plain li, ol.plain li {
    list-style: none; }

/*****************************
    Forms
*****************************/
label {
  display: block; }
  label.inline {
    display: inline; }

fieldset {
  margin-bottom: 18.2px;
  margin-bottom: 1.82rem; }
  fieldset ul {
    margin-left: 0;
    list-style: none; }
    fieldset ul li {
      margin-bottom: 9.1px;
      margin-bottom: 0.91rem; }
      fieldset ul li label {
        margin-bottom: 9.1px;
        margin-bottom: 0.91rem; }

input, textarea {
  outline: none; }

footer {
  margin-top: 100px; }
  footer svg {
    fill: #ff3800; }
  footer p, footer a {
    font-size: 11px;
    font-size: 1.1rem;
    color: #999; }
  footer .social-links {
    float: right; }
    footer .social-links li {
      margin-bottom: 5px; }
    footer .social-links iframe {
      display: block; }

.gplus {
  display: none; }

h2 {
  font-weight: 500; }

a {
  color: #ff3800;
  font-weight: 500; }

hr {
  border: none;
  height: 1px;
  background: #ddd; }

h1 strong {
  text-transform: uppercase;
  font-weight: 700; }

.marketing {
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 28px;
  line-height: 2.8rem;
  color: #555; }

pre.highlight {
  border: 1px solid #ddd;
  font-family: Consolas, Menlo, Courier, monospace;
  border-radius: 2px;
  padding: 10px;
  margin: 30px 0; }

p code {
  background: #f7f7f7;
  border-radius: 2px;
  padding: 5px 5px; }

.wrapper {
  margin: 60px auto; }

header {
  margin-bottom: 100px;
  min-width: 700px; }

nav {
  min-width: 700px; }
  nav a {
    color: #202020;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500; }
    nav a.middle {
      margin: 0 20px;
      width: 90px;
      height: 90px; }
      nav a.middle img {
        position: absolute;
        left: 50%;
        margin-left: -45px;
        width: 90px;
        height: 90px; }
  nav .nav-left {
    top: 100px;
    position: absolute;
    right: 50%;
    margin-right: 70px; }
  nav .nav-right {
    top: 100px;
    position: absolute;
    left: 50%;
    margin-left: 70px; }

.version-wrapper {
  text-align: center;
  margin: 60px 0;
  font-size: 15px;
  font-size: 1.5rem; }
  .version-wrapper .version-tag {
    background: #999;
    color: #fff;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 3px;
    margin-left: 20px;
    text-decoration: none; }
  .version-wrapper .version-text {
    text-transform: uppercase;
    font-weight: 500; }
  .version-wrapper .get-started {
    background: #ff3800;
    color: #fff;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 3px;
    margin-left: 20px;
    text-decoration: none; }

.concept-text {
  color: #555; }

.concept-link {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  font-size: 1.4rem; }
  .concept-link i {
    margin-right: 10px;
    font-size: 11px;
    font-size: 1.1rem; }

.ready {
  font-size: 14px;
  font-size: 1.4rem; }

.social-links.inline li {
  float: left;
  margin-right: 20px; }

.contributors h2 {
  margin-bottom: 30px; }
.contributors .contributor {
  border: 1px solid #e5e5e5;
  width: 218px;
  float: left;
  margin-right: 21px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 21px; }
  .contributors .contributor:nth-child(3n) {
    margin-right: 0; }
  .contributors .contributor img {
    width: 196px;
    height: 196px;
    display: block;
    margin-bottom: 10px; }
  .contributors .contributor i {
    font-size: 20px; }
  .contributors .contributor .login {
    line-height: 20px;
    vertical-align: top;
    margin-left: 5px; }
  .contributors .contributor .count {
    float: right;
    font-size: 11px;
    background: #ff3800;
    color: #fff;
    padding: 5px 8px;
    border-radius: 3px;
    font-weight: bold; }

#mc_embed_signup {
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px 8px;
  margin-top: 120px;
  margin-bottom: -60px; }
  #mc_embed_signup p {
    font-weight: 600;
    font-size: 14px;
    font-size: 1.4rem; }
  #mc_embed_signup #mce-EMAIL {
    font-size: 13px;
    font-size: 1.3rem;
    padding: 5px 8px;
    width: 400px; }
  #mc_embed_signup #mc-embedded-subscribe {
    color: #fff;
    background: #202020;
    border: 1px solid #202020;
    font-size: 13px;
    font-size: 1.3rem;
    padding: 5px 8px;
    cursor: pointer; }

.blog-list {
  padding-top: 10px; }
  .blog-list article {
    margin-top: 60px; }
    .blog-list article h1 {
      margin-bottom: 10px; }
      .blog-list article h1 a {
        color: #202020;
        text-decoration: none; }
        .blog-list article h1 a:hover {
          text-decoration: underline; }
    .blog-list article .date {
      font-size: 11px;
      font-size: 1.1rem;
      color: #555; }
  .blog-list hr {
    width: 300px;
    margin: 80px auto; }

.blog-links a {
  background: #202020;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 15px 25px; }
  .blog-links a:hover {
    background: #3a3a3a; }
.blog-links .link-feed {
  float: right; }

.blog-show article {
  margin-top: 40px; }
  .blog-show article h1 {
    color: #202020;
    margin-bottom: 5px;
    font-weight: 600; }
  .blog-show article .date {
    font-size: 11px;
    font-size: 1.1rem;
    color: #555; }
  .blog-show article .body {
    margin-top: 40px; }

.post-links .social {
  float: right; }
  .post-links .social li {
    float: right;
    margin-left: 10px;
    margin-top: 10px; }
.post-links > a {
  background: #202020;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 15px 25px; }
  .post-links > a:hover {
    background: #3a3a3a; }

/*# sourceMappingURL=theme.css.map */
