html {
  font-size: 62.5%;
  line-height: 62.5%; }

body {
  margin: 20px; }

body, input, button {
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

code, code * {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 18.2px;
  line-height: 1.82rem;
  margin-bottom: 18.2px;
  margin-bottom: 1.82rem;
  font-family: Consolas, Menlo, Courier, monospace; }

pre {
  line-height: 0; }

p code {
  font-size: 11.7px;
  font-size: 1.17rem;
  display: inline; }

h1 {
  font-size: 23.4px;
  font-size: 2.34rem;
  line-height: 32.76px;
  line-height: 3.276rem;
  margin-bottom: 16.38px;
  margin-bottom: 1.638rem;
  margin-top: 24.57px;
  margin-top: 2.457rem; }

h2 {
  font-size: 16.9px;
  font-size: 1.69rem;
  line-height: 23.66px;
  line-height: 2.366rem;
  margin-bottom: 11.83px;
  margin-bottom: 1.183rem;
  margin-top: 17.745px;
  margin-top: 1.7745rem; }

h3 {
  font-size: 18.2px;
  font-size: 1.82rem;
  line-height: 25.48px;
  line-height: 2.548rem;
  margin-bottom: 12.74px;
  margin-bottom: 1.274rem;
  margin-top: 19.11px;
  margin-top: 1.911rem; }

h4 {
  font-size: 15.6px;
  font-size: 1.56rem;
  line-height: 21.84px;
  line-height: 2.184rem;
  margin-bottom: 10.92px;
  margin-bottom: 1.092rem;
  margin-top: 16.38px;
  margin-top: 1.638rem; }

h5 {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 18.2px;
  line-height: 1.82rem;
  margin-bottom: 9.1px;
  margin-bottom: 0.91rem;
  margin-top: 13.65px;
  margin-top: 1.365rem; }

p {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 18.2px;
  line-height: 1.82rem;
  margin-bottom: 9.1px;
  margin-bottom: 0.91rem; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

hr {
  margin-top: 18.2px;
  margin-top: 1.82rem;
  margin-bottom: 18.2px;
  margin-bottom: 1.82rem; }

/*****************************
    Type
*****************************/
.lead, .lead * {
  font-size: 15.6px;
  font-size: 1.56rem;
  line-height: 21.84px;
  line-height: 2.184rem;
  margin-bottom: 21.84px;
  margin-bottom: 2.184rem; }
  .lead code, .lead * code {
    font-size: 14.04px;
    font-size: 1.404rem; }

/*****************************
    Lists
*****************************/
ul, ol {
  margin-bottom: 9px;
  margin-bottom: 0.9rem;
  margin-left: 25px;
  margin-left: 2.5rem; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 18.2px;
  line-height: 1.82rem; }

ul.horizontal, ol.horizontal {
  margin: 0;
  display: inline; }
  ul.horizontal li, ol.horizontal li {
    display: inline; }

ul.plain, ol.plain {
  margin-left: 0; }
  ul.plain li, ol.plain li {
    list-style: none; }

/*****************************
    Forms
*****************************/
label {
  display: block; }
  label.inline {
    display: inline; }

fieldset {
  margin-bottom: 18.2px;
  margin-bottom: 1.82rem; }
  fieldset ul {
    margin-left: 0;
    list-style: none; }
    fieldset ul li {
      margin-bottom: 9.1px;
      margin-bottom: 0.91rem; }
      fieldset ul li label {
        margin-bottom: 9.1px;
        margin-bottom: 0.91rem; }

input, textarea {
  outline: none; }

footer {
  margin-top: 100px; }
  footer svg {
    fill: #ff3800; }
  footer p, footer a {
    font-size: 11px;
    font-size: 1.1rem;
    color: #999; }
  footer .social-links {
    float: right; }
    footer .social-links li {
      margin-bottom: 5px; }
    footer .social-links iframe {
      display: block; }

.gplus {
  display: none; }

h2 {
  font-weight: 500; }

a {
  color: #ff3800;
  font-weight: 500; }

hr {
  border: none;
  height: 1px;
  background: #ddd; }

h1 strong {
  text-transform: uppercase;
  font-weight: 700; }

.marketing {
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 28px;
  line-height: 2.8rem;
  color: #555; }

pre.highlight {
  border: 1px solid #ddd;
  font-family: Consolas, Menlo, Courier, monospace;
  border-radius: 2px;
  padding: 10px;
  margin: 30px 0; }

p code {
  background: #f7f7f7;
  border-radius: 2px;
  padding: 5px 5px; }

body {
  margin: 0; }

header {
  background: #202020;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  header h1 {
    display: inline-block;
    font-family: "Ideal Sans A", "Ideal Sans B", sans-serif;
    text-transform: lowercase;
    color: #fff;
    margin: 0;
    vertical-align: top;
    line-height: 42px;
    margin-left: 10px; }
    header h1 .version {
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      font-size: 11px;
      font-size: 1.1rem;
      margin-left: 5px; }
  header a {
    text-decoration: none;
    font-weight: normal; }
  header nav {
    float: right;
    line-height: 42px; }
    header nav a {
      margin-left: 20px;
      color: #fff;
      text-transform: uppercase; }

nav.toc {
  position: fixed;
  top: 67px;
  bottom: 0;
  overflow: auto;
  width: 250px;
  padding: 30px 0;
  border-right: 1px solid #ddd; }
  nav.toc > ul {
    list-style: none; }
    nav.toc > ul > li {
      margin-bottom: 20px; }
      nav.toc > ul > li > a {
        font-size: 15px;
        font-size: 1.5rem;
        text-transform: uppercase;
        border-bottom: 1px solid #ddd;
        display: inline-block;
        margin-bottom: 8px; }
        nav.toc > ul > li > a:hover {
          text-decoration: none;
          border-bottom-color: #202020; }
      nav.toc > ul > li li {
        margin-bottom: 5px; }
    nav.toc > ul ul {
      margin-left: 0;
      list-style: none; }
      nav.toc > ul ul a {
        font-weight: normal; }
    nav.toc > ul li.active > a {
      color: #ff3800;
      font-weight: 500; }
  nav.toc a {
    color: #202020;
    text-decoration: none; }
    nav.toc a:hover {
      text-decoration: underline; }

main {
  margin-top: 97px; }

.doc-footer {
  margin-top: 80px;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: -40px; }
  .doc-footer * {
    margin-bottom: 0; }
  .doc-footer .next-up {
    float: right; }
  .doc-footer .contribute * {
    color: #777;
    font-weight: normal; }
  .doc-footer .contribute i {
    margin-right: 5px; }

.article {
  min-height: 300px; }
  .article h1 {
    border-bottom: 2px solid #777;
    font-weight: 500;
    margin-bottom: 30px; }
  .article p {
    line-height: 25px;
    line-height: 2.5rem;
    font-size: 15px;
    font-size: 1.5rem;
    margin-bottom: 20px; }

main, footer {
  width: 700px;
  margin-left: 280px; }

footer {
  margin-right: 30px; }

/*# sourceMappingURL=theme-docs.css.map */
