<div id="blogarchive">

  <h1> Blog Archive </h1>
  <h2> March 2014 </h1>

  <p class="post">
    <a href="/posts/2014-03-04-zero_eight">0.8 Release</a>
  </p>

  <h2> February 2013 </h2>
    <p class="post">
      <a href="/posts/2013-02-14-zero_eight_rc1_release">0.8rc1 Release</a>
    </p>


  <h2> February 2012 </h2>
  <p class="post">
    <a href="/posts/2012-02-29-zero_seven_two">0.7.2 Release</a>
  </p>
  <p class="post">
    <a href="/posts/2012-02-16-announcing_zero_eight">Announcing Pakyow 0.8</a>
  </p>
  <p class="post">
    <a href="/posts/2012-01-08-zero_seven_one">0.7.1 Release</a>
  </p>



  <h2> February 2011 </h2>
    <p class="post">
      <a href="/posts/2011-11-21-zero_seven">0.7 Release</a>
    </p>

</div>
