@import "shared";

.wrapper {
  margin: 60px auto;

  @include mobile {
    margin-top: 20px;
  }
}

header {
  min-width: $container-width;
  font-family: $font-head;
  @include clearfix;

  @include mobile  {
    height: 110px;
    min-width: 50px;
    border-bottom: 1px solid $color-gray;
  }
}

main {
  margin-top: 175px;

  @include mobile {
    margin-top: 15px;
  }
}

nav {
  min-width: $container-width;

  i {
    float:left;
  }

  a {
    color: $color-black;
    display: block;
    float:left;
    vertical-align: middle;
    margin: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: $weight-semibold;

    @include mobile {
      margin: 10px 15px;
      float: none;
      text-align: center;
    }

    &:hover {
      color: $color-gray;
      border-bottom: 2px solid $color-lgray;
      padding-bottom: 3px;
    }

    &.middle {
      margin: 0 20px;
      width: 90px;
      height: 90px;
      position: absolute;
      left: 50%;
      margin-left: -45px;

      &:hover {
        border: none;

        img {
          @include transform(scale(1.02) rotate(3deg));
          opacity: 0.92;
        }
      }

      img {
        width: 90px;
        height: 90px;

        @include transition(all 0.05s ease-in-out);
      }
    }
  }

  .nav-left {
    top: 100px;
    position: absolute;
    right: 50%;
    margin-right: 70px;

    @include mobile {
      top: 30px;
      margin-right: 50px;
      margin-left: 20px;
    }
  }

  .nav-right {
    top: 100px;
    position: absolute;
    left: 50%;
    margin-left: 70px;

    @include mobile {
      top: 30px;
      margin-right: 20px;
    }
  }
}

.version-wrapper {
  text-align: center;
  margin: 40px 0 60px;
  @include rem(font-size, 15);

  .version-tag {
    background: $color-mgray;
    color: $color-white;
    font-weight: $weight-semibold;
    padding: 5px 8px;
    border-radius: 3px;
    margin-left: 20px;
    text-decoration: none;
  }

  .version-text {
    text-transform: uppercase;
    font-weight: $weight-semibold;
  }
}

.get-started, .learn-more {
  background: $color-red;
  color: $color-white;
  font-weight: $weight-semibold;
  padding: 15px 0px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  display: block;
  width: 300px;
  font-size: 24px;
  text-align: center;

  &:hover {
    background: lighten($color-red, 3%);
  }
}


.concept-wrapper {
  padding-top: 50px;
  @include mobile {
    padding: 0;
  }
}
.concept-text {
  color: $color-dgray;
  font-size: 16px;
  line-height: 24px;
}

.concept-img {
  &.float-l {
    margin-left: -30px;
    margin-right: 30px;
    @include mobile {
      float: none;
      width: 100%;
      margin: auto;
    }
  }

  &.float-r {
    margin-right: -30px;
    margin-left: 30px;
    @include mobile {
      float: none;
      width: 100%;
      margin: auto;
    }
  }

  &.concept-simplicity {
    margin-right: -65px;
  }
}

.concept-header {
  white-space: nowrap;

  @include mobile {
    text-align: center;
  }
}

.concept-link {
  // color: $color-white;
  // background: $color-mgray;
  display: inline-block;
  // padding: 10px 15px;
  // border-radius: 3px;
  // text-decoration: none;
  margin-top: 10px;
  @include rem(font-size, 14);

  i {
    margin-right: 10px;
    @include rem(font-size, 11);
  }
}

.ready {
  @include rem(font-size, 14);
}

.social-links.inline {
  li {
    float: left;
    margin-right: 20px;
  }
}

.contributors {
  h2 {
    margin-bottom: 30px;
  }

  .contributor {
    border: 1px solid #e5e5e5;
    width: 218px;
    float: left;
    margin-right: 21px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 21px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    img {
      width: 196px;
      height: 196px;
      display: block;
      margin-bottom: 10px;
    }

    i {
      font-size: 20px;
    }

    .login {
      line-height: 20px;
      vertical-align: top;
      margin-left: 5px;
    }

    .count {
      float: right;
      font-size: 11px;
      background: $color-red;
      color: #fff;
      padding: 5px 8px;
      border-radius: 3px;
      font-weight: bold;
    }
  }
}

#mc_embed_signup {
  background: $color-xgray;
  border: 1px solid $color-lgray;
  border-radius: 3px;
  padding: 8px;
  margin-top: 60px;
  margin-bottom: -60px;

  p {
    font-weight: 600;
    @include rem(font-size, 14);
  }

  #mce-EMAIL {
    @include rem(font-size, 13);
    padding: 5px 8px;
    width: 400px;

    @include mobile {
      width: 65%;
    }
  }

  #mc-embedded-subscribe {
    color: $color-white;
    background: $color-black;
    border: 1px solid $color-black;
    @include rem(font-size, 13);
    padding: 5px 8px;
    cursor: pointer;
  }
}

.blurbs {
  width: 600px;
  margin: auto;
  text-align: center;

  @include mobile {
    width: auto;
    margin: auto;
  }

  .col {
    width: 200px;
    margin: 0;
    padding: 0;

    @include mobile {
      width: auto;
      float: none;
    }
  }
}

@import "blog";
