header.align-c
  nav@@nav
    a@item-overview href="/"
      | Overview

    a@item-docs href="/docs"
      | Docs

    a.middle href="/"
      img src="/images/pakyow-small.png" alt="Pakyow"

      <!-- <h1 class="res-hide-s res-hide-m"> -->
      <!--   pakyow.org -->
      <!--   <span class="version">v0.9</span> -->
      <!-- </h1> -->

    a@item-community href="/get-involved"
      | Contribute

    a@item-blog href="/blog"
      | Blog
