<div id="header">
  <a href="/">
    <img src="/images/pakyow-small.png" alt="Pakyow">

    <h1 class="res-hide-s res-hide-m">
      pakyow.org
      <span class="version">v0.9</span>
    </h1>
  </a>

  <ul id="navigation" data-scope="nav">
    <li data-prop="item-warmup">
      <a href="/warmup">Warmup</a>
    </li>

    <li data-prop="item-docs">
      <a href="/docs">Docs</a>
    </li>

    <li data-prop="item-community">
      <a href="/get-involved">Get Involved</a>
    </li>

    <li data-prop="item-blog">
      <a href="/blog">Blog</a>
    </li>
  </ul>
</div>
