---
title: Pakyow &#8250; Get Involved
---

<div class="community">
  <h1>
    Technology is only as good as the people behind it.
    <br>
    We'd love to have you.
  </h1>

  <p>
    We're glad you're interested in getting involved with Pakyow.
    Here are some ways you get jump in.
  </p>

  <div class="list">
    <p>
      Give us a star on <a href="http://github.com/metabahn/pakyow">GitHub</a>. Don't
      stop there &ndash; share what we're up to with your friends!
    </p>

    <p>
      Follow <a href="http://twitter.com/pakyow">@pakyow</a> on Twitter. We also post
      on <a href="http://facebook.com/pakyow.rb">Facebook</a> and <a href="https://plus.google.com/103087509604678681002/">Google+</a>.
    </p>

    <p>
      Ask and answer <a href="http://stackoverflow.com/questions/tagged/pakyow">questions on Stack Overflow</a>. 
      They're tagged, so it's easy!
    </p>

    <p>
      Found a bug or have an idea for a feature? Post it to our <a href="https://github.com/metabahn/pakyow/issues">issues page</a>.
    </p>

    <p>
      Join the <a href="https://groups.google.com/forum/#!forum/pakyow">mailing list</a>, where early discussions about new Pakyow features take place. You
      can also might find some of us on the <a href="irc://irc.freenode.net/#pakyow">#pakyow</a> 
      channel on irc.freenode.net.
    </p>

    <p>
      Want to contribute code or documentation? Post to the <a href="https://groups.google.com/forum/#!forum/pakyow">mailing list</a>
      and we'll do our best to find a place where you can contribute.
    </p>
  </div>
</div>

<div class="contributors" data-scope="contributors">
  <h2>
    Pakyow is Made Possible By:
  </h2>

  <div class="contributor-blocks" data-ui="contributor-blocks" data-config="owner:metabahn, repo:pakyow, blockSize:130, bgColor:#FF0013">
</div>
