---
title: Pakyow &#8250; Get Involved
---

<div class="community">
  <h1>
    Technology is only as good as the people that are part of it.
    <br>
    We'd love to have you involved!
  </h1>

  <p>
    We're glad you're interested in getting involved with Pakyow.
    Here are some ways you can jump in.
  </p>

  <br>
  <h2>
    Show your support
  </h2>

  <p>
    Give us a star on Github. But don't stop there &ndash; tell your friends about the project!

  </p>

  <ul class="plain social-links inline">
    <li>
      <iframe src="https://ghbtns.com/github-btn.html?user=pakyow&repo=pakyow&type=star&count=true&v=2" frameborder="0" scrolling="0" width="85px" height="20px"></iframe>
    </li>

    <li>
      <a href="https://twitter.com/pakyow" class="twitter-follow-button" data-show-count="false">Follow @pakyow</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </li>

    <li>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1611480632444271";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-like" data-href="https://www.facebook.com/pakyow.rb" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </li>

    <li>
      <!-- Place this tag in your head or just before your close body tag. -->
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <!-- Place this tag where you want the +1 button to render. -->
      <div class="g-plusone" data-size="medium" data-href="http://pakyow.org"></div>
    </li>
  </ul>

  <div style="clear:both"></div>

  <p>
    You might also consider adding a link back to Pakyow from your website or app. Something like this:
  </p>

  <p>
    Built with
    <svg width="10" height="10" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26t-55.5-65.5-68-97.5-53.5-121-23.5-138q0-220 127-344t351-124q62 0 126.5 21.5t120 58 95.5 68.5 76 68q36-36 76-68t95.5-68.5 120-58 126.5-21.5q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z" fill="#f8ccc8"></svg>
    and <a href="http://pakyow.org">Pakyow</a>.
  </p>

  <br>
  <h2>
    Join the conversation
  </h2>

  <p>
    Come hang out on the official <a href="https://gitter.im/pakyow/chat">Gitter channel</a>. You might also
    find some of us on the IRC channel at #pakyow on <a href="https://webchat.freenode.net/">Freenode IRC</a>.
    Finally, join the <a href="https://groups.google.com/forum/#!forum/pakyow">mailing list</a>, where early discussions about new Pakyow features often take place.
  </p>

  <br>
  <h2>
    Contribute to the project
  </h2>

  <p>
    We'd love you to contribute code of documentation. Everything is hosted publicly on <a href="http://github.com/pakyow">Github</a>.
    Looking through the list of open issues would be a great place to start. If you need more direction, jump on
    one of the communication channels listed above; we're happy to help!
  </p>

  <br>
  <h2>
    Report problems you encounter
  </h2>

  <p>
    Found a bug or have an idea for a new feature?
    Open up an issue on our <a href="https://github.com/pakyow/pakyow/issues">Github issues page</a>.
  </p>

  <br>
  <h2>
    Get help from the community
  </h2>

  <p>
    Ask and answer <a href="http://stackoverflow.com/questions/tagged/pakyow">questions on Stack Overflow</a>. 
      They're tagged, so it's easy!
  </p>
</div>

<hr>

<div class="contributors">
  <h2>
    Pakyow is Made Possible By:
  </h2>

  <div class="contributor" data-scope="contributor">
    <img data-prop="avatar">
    <i class="fa fa-github"></i>
    <a class="login" data-prop="login">
      Name
    </a>
    <span class="count" data-prop="count">
      #
    </span>
  </div>

  <div style="clear:both"></div>
</div>
