---
title: Pakyow &#8250; Get Involved
---

<h1>
  Help build a better web framework while creating a great community.
</h1>

<p class="marketing">
  <strong>Please be kind.</strong> This guides our interaction as a community.
  We don't just want a better way to build for the web, we want
  to create a positive community that's accessible to everyone.
  <br>
  Read our full <a href="/docs/start/contributing">code of conduct</a>.
</p>

<h2 class="margin-t">
  Show Your Support
</h2>

<p>
  Give us a star on <a href="http://github.com/pakyow">GitHub</a>. But don't
  stop there &ndash; tell your friends about the project! Writing blog posts,
  giving talks to local user groups, and screencasting your experiences with
  Pakyow all help spread the word. We'll return the favor by helping promote
  the things you create. Also consider adding a link back to pakyow.org from your
  project.
</p>

<div style="clear:both"></div>

<h2 class="margin-t">
  Join the Conversation
</h2>

<p>
  Come hang out on our <a href="https://gitter.im/pakyow/chat">Gitter channel</a>,
  which took the place of our IRC channel in 2015. You should also join the
  <a href="http://forums.pakyow.org">forums</a>, where early discussions about new Pakyow features often take place.
  Don't forget to lend a hand &ndash; ask and answer <a href="http://stackoverflow.com/questions/tagged/pakyow">questions on Stack Overflow</a>.
</p>

<h2 class="margin-t">
  Contribute to the Project
</h2>

<p>
  We'd love your contributions to Pakyow code or documentation. Everything is hosted publicly on <a href="http://github.com/pakyow">GitHub</a>.
  Looking through the list of open issues would be a great place to start. If you need more direction, jump on
  one of the communication channels listed above; we're happy to help!
</p>

<p>
  New to Pakyow or open-source but want to get involved? We try to make it a little
  easier by labeling <a href="https://github.com/pakyow/pakyow/labels/Starter">starter issues</a>. These are usually smaller issues that touch
  a small amount of code; great for getting more familiar with the project!
</p>

<h2 class="margin-t">
  Report Problems you Encounter
</h2>

<p>
  Found a bug or have an idea for a new feature?
  Open up an issue on our <a href="https://github.com/pakyow/pakyow/issues">issues page</a>.
</p>

<h2 class="margin-t">
  Our Contributors
</h2>

<div class="contributors">
  <div class="contributor" data-scope="contributor">
    <img data-prop="avatar">
    <i class="fa fa-github"></i>
    <a class="login" data-prop="login">
      Name
    </a>
    <span class="count" data-prop="count">
      #
    </span>
  </div>
</div>

<div style="clear:both"></div>
