<p class="big">
  Pakyow is an open-source framework for building performant web apps that 
  embrace the web. Separation of view, logic, and data is maintained, 
  encouraging a development process that is straightforward and 
  friendly to designers and developers.
  <strong>It's simple.</strong>
</p>

<code class="html ex content"><div class="highlight"><pre><span class="nt">&lt;article</span> <span class="na">data-scope=</span><span class="s">"post"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;p</span> <span class="na">data-prop=</span><span class="s">"body"</span><span class="nt">&gt;</span>
    Body goes here.
  <span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/article&gt;</span>
</pre></div></code>

<code class="html ex template"><div class="highlight"><pre><span class="nt">&lt;html&gt;</span>
  <span class="nt">&lt;body&gt;</span>
    <span class="nt">&lt;section</span> <span class="na">data-container=</span><span class="s">"main"</span><span class="nt">&gt;</span>
      Main Content Here
    <span class="nt">&lt;/section&gt;</span>
  <span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;html&gt;</span>
</pre></div></code>

<p style="margin-right:300px">
  Pakyow <strong>views</strong> are <em>logicless</em>, <em>composable</em>, and <em>aware</em> of
  the data they represent. No additional markup or tags are required and complete control over the
  view is placed in the hands of the designer.
</p>

<code class="ruby ex logic"><div class="highlight">
<pre><span class="n">view</span><span class="o">.</span><span class="n">scope</span><span class="p">(</span><span class="ss">:post</span><span class="p">)</span><span class="o">.</span><span class="n">apply</span><span class="p">(</span><span class="o">[</span>
  <span class="p">{</span> <span class="n">body</span><span class="p">:</span> <span class="s1">'one'</span> <span class="p">},</span>
  <span class="p">{</span> <span class="n">body</span><span class="p">:</span> <span class="s1">'two'</span> <span class="p">}</span>
<span class="o">]</span><span class="p">)</span>
</pre>
</div>
</code>

<code class="html ex result"><div class="highlight"><pre><span class="nt">&lt;html&gt;</span>
  <span class="nt">&lt;body&gt;</span>
    <span class="nt">&lt;section</span> <span class="na">data-container=</span><span class="s">"main"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;article</span> <span class="na">data-scope=</span><span class="s">"post"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p</span> <span class="na">data-prop=</span><span class="s">"body"</span><span class="nt">&gt;</span>
          one
        <span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;/article&gt;</span>

      <span class="nt">&lt;article</span> <span class="na">data-scope=</span><span class="s">"post"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;p</span> <span class="na">data-prop=</span><span class="s">"body"</span><span class="nt">&gt;</span>
          two
        <span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;/article&gt;</span>
    <span class="nt">&lt;/section&gt;</span>
  <span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;html&gt;</span>
</pre></div></code>

<p style="margin-right:300px">
  Back-end <strong>logic</strong> makes it easy to transform the view based on data. Because the
  view is data-aware, data can be bound to the view by reference. At the time of binding, transformations
  can be applied to the view based on the data being bound.
</p>

<p style="margin-right:300px">
  Adding back-end logic is non-destructive. This means the view layer becomes a sturdy prototype 
  that can be used and extended throughout the development process; all with no added effort.
</p>

<p>
  TODO performance
</p>

<!-- 
  Instead of a start page for Pakyow, make Overview the first page and include the following info:
    - overview
    - community
    - products
    - code
    - about

  Everything else is placed in mini-sites:
    - tutorial (try.pakyow.com)
    - documentation (docs.pakyow.com)
    - blog (blog.pakyow.com)
-->

<!-- 
  code story:

  - composable view
  - logicless, data-aware view
  - sturdy prototype (go back at any point)
  - data binding
  - view transformation
  - decisions from data


  Composable, Logicless, Data-Aware, Prototype:
  (show separate and imply composition)

  <html>
    <body>
      <section data-container="main">
        Main Content Here
      </section
    </body>
  <html>

  <article data-scope="post">
    <h1 data-prop="title">
      Title Goes Here
    </h1>

    <p data-prop="body">
      Body goes here.
    </p>
  </article>

  Decisions on data:

  scope(:post) {
    binding(:title) {
      {
        class: bindable[:active] ? 'active' : 'inactive',
        content: bindable[:title]
      }
    }
  }

  Data Binding, View Transformation:

  data = []
  data << { title: 'One', body: 'one', active: true  }
  data << { title: 'two', body: 'two', active: false }
  view.apply(data)

  <html>
    <body>
      <section data-container="main">
        <article data-scope="post">
          <h1 data-prop="title" class="active">
            One
          </h1>

          <p data-prop="body">
            one
          </p>
        </article>

        <article data-scope="post" class="inactive">
          <h1 data-prop="title">
            Two
          </h1>

          <p data-prop="body">
            two
          </p>
        </article>
      </section
    </body>
  <html>
-->