<p class="big">
  Pakyow is an open-source framework for building apps that embrace
  the web, while encouraging a development process that is
  friendly to both designers and developers.
  <strong>It's built for getting along.</strong>
</p>

<h3 class="divide">
  Power to the designer.
</h3>

<div class="container-3 fluid blurbs">
  <div class="col">
    <h4>
      Own the Front End
    </h4>

    <p>
      The front end is created in isolation, giving
      the designer total control over the process. Work
      in one space from start to finish.
    </p>
  </div>

  <div class="col">
    <h4>
      Use Native Templates
    </h4>

    <p>
      Get all the benefits of templating
      without the template language.
      Build views in pure HTML; no logic,
      no new syntax.
    </p>
  </div>

  <div class="col">
    <h4>
      Build View First
    </h4>

    <p>
      Create a working prototype of your app
      without a line of code. Later, add the
      backend without changing the view.
    </p>
  </div>
</div>

<h3 class="divide">
  Software made simple.
</h3>

<div class="container-3 fluid blurbs">
  <div class="col">
    <h4>
      Designed&nbsp;for&nbsp;consistency
    </h4>

    <p>
      All parts of the application speak the common
      language of data, providing a consistent way of
      thinking about and writing code.
    </p>
  </div>

  <div class="col">
    <h4>
      Separates Your Concerns
    </h4>

    <p>
      Roles of designer/developer, view/logic, client/server are clearly defined and maintaind throughout the development process.
    </p>
  </div>

  <div class="col">
    <h4>
      Advanced Behavior Built-In
    </h4>

    <p>
      Control the client from the server and update the view in realtime as data changes, all with no added effort. Things just work.
    </p>
  </div>
</div>

<h3 class="divide">
  Goes with the web.
</h3>

<div class="container-3 fluid blurbs">
  <div class="col">
    <h4>
      The Client is the Interface
    </h4>

    <p>
      The client, together with the code that powers it, define the interface to the application.
    </p>
  </div>

  <div class="col">
    <h4>
      Logic Stays Server-Side
    </h4>

    <p>
      Application logic remains on the backend and instructions, not code, are pushed to the client.
    </p>
  </div>

  <div class="col">
    <h4>
      The web is embraced
    </h4>

    <p>
      A traditional client-server model is supported, leaving the web to be the web.
    </p>
  </div>
</div>

<div class="container fluid" id="community">
  <ul>
    <li>
      <a href="/warmup">Learn more with the warmup</a>
    </li>

    <li>
      <a href="http://groups.google.com/group/pakyow">Get help and contribute your ideas</a>
    </li>

    <li>
      <a href="http://github.com/metabahn/pakyow/issues">Report a bug</a>
    </li>

    <li>
      <a href="http://github.com/metabahn/pakyow">Browse the source</a>
    </li>

    <li>
      <a href="http://twitter.com/pakyow">Follow along</a>
    </li>
  </ul>
</div>

<!-- <div class="container fluid blurbs"> -->
<!--   <div > -->
<!--     <h3 style="font-size:14px;margin-bottom:5px"> -->
<!--       View Driven Development -->
<!--     </h3> -->

<!--     <p> -->
<!--       A Pakyow application consists of two parts: a front-end -->
<!--       view layer and a back-end logic layer. The view layer -->
<!--       is developed first. In Pakyow, a view is structural and -->
<!--       consists of markup only. There's nothing new to learn. -->
<!--       A navigable prototype of a feature or an entire application -->
<!--       can be created without defining routes or writing logic. -->
<!--     </p> -->

<!--     <p> -->
<!--       When adding a back-end, logic is never added into the view. -->
<!--       Instead, logic acts on the view as a separate layer. This works -->
<!--       by embedding knowledge of the data model into the view, transforming -->
<!--       the view to match the data, then applying the data to the view. -->
<!--     </p> -->

<!--     <p> -->
<!--       The result is independent layers that work together to create -->
<!--       a fully functioning application. Wires never cross, letting design -->
<!--       and development occur in isolation. Each layer can evolve separately -->
<!--       without consequence, since both layers describe the same data model. -->
<!--     </p> -->
<!--   </div> -->

<!--   <div> -->
<!--     <span class="version">COMING IN v0.9</span> -->

<!--     <h3 style="font-size:14px;margin-bottom:5px"> -->
<!--       Backend Driven, Realtime Apps -->
<!--     </h3> -->


<!--   </div> -->

<!--   <div> -->
<!--     <span class="version">COMING IN v1.0</span> -->

<!--     <h3 style="font-size:14px;margin-bottom:5px"> -->
<!--       Choose Your Framework -->
<!--     </h3> -->


<!--   </div> -->
<!-- </div> -->

<!-- <a href="/warmup" class="rumble">
  Get ready to rumble.
</a> -->
