<p class="big">
  Pakyow is an open-source platform for the modern web. Build web-based apps faster with a view-first development process that's friendly to everyone &ndash; whether you're a designer or a developer. It's for getting along.
</p>

<h1>
  Pakyow lets you start with a view and build the app on top. Here's how it works:
</h1>

<div class="container-3 fluid blurbs">
  <div class="col">
    <p>
      Generate your app and immediately create views using HTML or your favorite template language.
    </p>
  </div>

  <div class="col">
    <p>
      Start the app and see the views in your local browser without adding any back-end code.
    </p>
  </div>

  <div class="col">
    <p>
      Add back-end code without changing any of the previously created views.
    </p>
  </div>
</div>

<p class="moving">
  The <strong>view-first</strong> process gets you right to work and keeps your project moving forward.
</p>

<hr>

<h1>
  Start building for the web in minutes, not weeks.
</h1>

<div class="container-2 build-the-web">
  <div class="col">
    <p style="text-align:justify">
      The modern web should be a democratic platform where anyone can contribute not only their static
      thoughts, but solutions to real problems. It should place people above technology
      and empower us all to improve the web, and the world.
    </p>

    <p>
      Pakyow is a platform for you to build a better web.
    </p>
  </div>

  <div class="col">
    <div id="start">
      <ul>
        <li>
          <h2>
            Install Pakyow
          </h2>

          <p>
            Assuming you have a recent version of <a href="http://www.ruby-lang.org">Ruby</a>, install via RubyGems:
          </p>

          <!-- @include install -->
        </li>

        <li>
          <h2>
            Learn more with the warmup
          </h2>

          <p>
            We've put together a tutorial that will walk you through building and deploying a Pakyow app.
          </p>

          <p>
            <br>
            <a href="/warmup" class="box">
              Let's get warmed up &#8250;
            </a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- @include mailing_list -->

<div class="notice">
  <p>
    <strong>Coming Soon:</strong>
    Build realtime, backend-driven web apps with Pakyow. <a href="https://vimeo.com/122983514" target="_blank">Watch the demo &rarr;</a>
  </p>
</div>
