---
template: home
---

<h1 style="text-align: center">
  With Pakyow, you start with the view and build everything else on top. It's easy:
</h1>

<div class="container-3 fluid blurbs">
  <div class="col">
    <span class="num">
      1
    </span>

    <p>
      Generate your app and immediately create views using HTML or your favorite template language.
    </p>
  </div>

  <div class="col">
    <span class="num">
      2
    </span>

    <p>
      Start the app and immediately use it in your local browser without writing any back-end code.
    </p>
  </div>

  <div class="col">
    <span class="num">
      3
    </span>

    <p>
      Add back-end code (written in Ruby) on top without changing any of the previously created views.
    </p>
  </div>
</div>

<hr>

<h1>
  Start building for the web in minutes. Are you ready to rumble?
</h1>

<div class="container-2 build-the-web">
  <div class="col">
    <p>
      Pakyow is further democratizing the web.
      There's immense value in a web that allows anyone to contribute not only content,
      but solutions to problems. We empower you to build a better web.
    </p>

    <!-- @include mailing_list -->

    <ul class="plain social-links">
      <li>
        <a href="https://twitter.com/pakyow" class="twitter-follow-button" data-show-count="false">Follow @pakyow</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </li>

      <li>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1611480632444271";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-like" data-href="https://www.facebook.com/pakyow.rb" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </li>

      <li>
        <!-- Place this tag in your head or just before your close body tag. -->
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <!-- Place this tag where you want the +1 button to render. -->
        <div class="g-plusone" data-size="medium" data-href="http://pakyow.org"></div>
      </li>
  </div>

  <div class="col">
    <div id="start">
      <ul>
        <li>
          <h2>
            Install Pakyow
          </h2>

          <p>
            Pakyow needs a modern version of the <a href="http://www.ruby-lang.org">Ruby</a> programming language. Need help figuring out if you have everything installed to use Pakyow? Run this in your command line:

            <!-- @include deps -->

            Once everything checks out, install Pakyow via RubyGems:
          </p>

          <!-- @include install -->
        </li>

        <li>
          <h2>
            Learn more with the warmup
          </h2>

          <p>
            We've put together a tutorial that will walk you through building and deploying a Pakyow app in just a few minutes.
          </p>

          <p>
            <br>
            <a href="/warmup" class="box">
              Get warmed up &#8250;
            </a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <div class="notice res-hide-s">
  <p>
    <strong>Coming Soon:</strong>
    Build realtime, backend-driven web apps with Pakyow. <a href="https://vimeo.com/122983514" target="_blank">Watch the demo &rarr;</a>
  </p>
</div>
 -->
