<p class="big">
  Pakyow is an open-source framework for the modern web. Build working
  software faster with a development process that remains friendly to both
  designers and developers. It's built for <em>  getting along</em>.
</p>

<h1>
  Pakyow empowers the designer with a view-first development process.
</h1>

<div class="container-3 fluid blurbs">
  <div class="col">
    <h2>
      Own The Front-End
    </h2>

    <p>
      The views are created in isolation from the back-end app,
      giving the designer complete control over the front-end
      through the entire development process.
    </p>
  </div>

  <div class="col">
    <h2>
      Prototypes Made Easy
    </h2>

    <p>
      Create a working, navigable prototype of your app 
      without writing a line of back-end code. Later, 
      add the back-end as a layer on top of the view, 
      leaving the prototype intact.
    </p>
  </div>

  <div class="col">
    <h2>
      Logicless Views
    </h2>

    <p>
      Views describe what the UI is, not how it's built.
      Write views in HTML or the template language of your 
      choice; no view logic and nothing new to learn.
    </p>
  </div>
</div>

<h1>
 It's a simpler way to build web-based software that ships.
</h1>

<ul class="features">
  <li>
    <h3>
      Built in Ruby
    </h3>

    Super easy to install with a low learning curve
  </li>

  <li>
    <h3>
      Performant
    </h3>

    Up to 45% faster than Sinatra (see the <a href="https://gist.github.com/bryanp/9181950">benchmark</a>)
  </li>

  <li>
    <h3>
      Logicless Views
    </h3>

    Views are simple and only define how the UI looks and functions
  </li>

  <li>
    <h3>
      Full Templating
    </h3>

    All the benefits of a modern templating, like layouts and partials
  </li>

  <li>
    <h3>
      Syntax Agnostic
    </h3>

    Write views in plain HTML or mix-and-match with a syntax like <a href="http://github.com/metabahn/pakyow-markdown">Markdown</a> or <a href="http://github.com/metabahn/pakyow-haml">HAML</a>
  </li>

  <li>
    <h3>
      Simplified Backend
    </h3>

    Express code consistently in terms of the application's data model
  </li>

  <li>
    <h3>
      ORM Agnostic
    </h3>

    Plays well with <a href="https://github.com/jeremyevans/sequel">Sequel</a>, <a href="https://github.com/rails/rails/tree/master/activerecord">ActiveRecord</a>, and other ORMs
  </li>
</ul>

<div class="container fluid" id="start">
  <ul>
    <li>
      <h2>
        Installation
      </h2>

      <p>
        Assuming you have a recent version of <a href="http://www.ruby-lang.org">Ruby</a> on your system, install via RubyGems:
      </p>

      <!-- @include install -->
    </li>

    <li>
      <h2>
        Learn more with the warmup
      </h2>

      <p>
        We've put together a warmup exercise that will walk you through building and deploying a Pakyow application.
      </p>

      <p>
        Go through the <a href="/warmup">warmup</a> or view the <a href="/docs">docs</a>.
      </p>
    </li>

    <li>
      <h2>
        Join the community
      </h2>

      <p>
        There's a growing community around Pakyow. We'd love to have you.
      </p>

      <ul>
        <li>
          <a href="http://groups.google.com/group/pakyow">Get help and contribute your ideas</a>
        </li>

        <li>
          <a href="http://github.com/metabahn/pakyow/issues">Report a bug</a>
        </li>

        <li>
          <a href="http://github.com/metabahn/pakyow">Browse the source</a>
        </li>

        <li>
          <a href="http://twitter.com/pakyow">Follow along</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
