---
title: pakyow | warmup
---


<div class="warmup">
  <h1>
    Let's get ready to ruuumble!
  </h1>

  <p class="intro">
    Hello! This warmup will guide you through the process of developing a
    simple Twitter reader using Pakyow. At the end we'll deploy it to Heroku.
    This warmup takes about half an hour and you'll walk away with an
    understanding of how Pakyow works and the development process it
    encourages. Here's a summary of the steps:
  </p>
  <div class="nav">
    <ol>
      <li>
        <a href="#installation">Installation</a>
      </li>
      <li>
        <a href="#reference">Reference</a>
      </li>
      <li>
        <a href="#projectgen">Project Generation</a>
      </li>
      <li>
        <a href="#viewfirst">Development View First</a>
      </li>
      <li>
        <a href ="#back-end">Adding the Back-End</a>
      </li>
      <li>
        <a href ="#development">Development</a>
      </li>
      <li>
        <a href ="#nextsteps">Next Steps<a/>
      </li>
    </ol>
  </div>

  <!-- @include warmup -->
</div>
