<!DOCTYPE html>
<html>
<head>
  <title>
    Pakyow &#8250; Web Framework for Ruby
  </title>

  <meta charset="utf-8">

  <meta name="description" content="Build modern websites and web-based apps faster than ever with a view-first development process that's friendly to everyone.">

  <link rel="stylesheet" type="text/css" media="all" href="/css/pakyow-css/reset.css">
  <link rel="stylesheet" type="text/css" media="all" href="/css/pakyow-css/structure.css">
  <link rel="stylesheet" type="text/css" media="all" href="/css/syntax.css">
  <link rel="stylesheet" type="text/css" media="all" href="/css/default.css">

  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

  <script src="//use.typekit.net/dol5ibr.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">

  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6496472/746208/css/fonts.css">
</head>

<body>
  <!-- @include header -->

  <div id="main" style="margin-top:180px">
    <!-- @container -->
  </div>

  <!-- @include footer -->
</body>
</html>
