<!DOCTYPE html>
<html>
<head>
  <title>
    Pakyow &#8250; View-First Web Framework for Ruby
  </title>

  <meta charset="utf-8">

  <meta name="description" content="Build modern websites and web-based apps faster than ever with a view-first development process that's friendly to everyone.">

  <link rel="stylesheet" type="text/css" media="all" href="/css/pakyow-css/reset.css">
  <link rel="stylesheet" type="text/css" media="all" href="/css/pakyow-css/structure.css">
  <link rel="stylesheet" type="text/css" media="all" href="/css/syntax.css">
  <link rel="stylesheet" type="text/css" media="all" href="/css/default.css">

  <link rel="shortcut icon" href="/favicon.ico">

  <script type="text/javascript" src="/js/ui.js"></script>
  <script type="text/javascript" src="/js/pui.contributor-blocks.js"></script>

  <link rel="stylesheet" type="text/css" media="all" href="/css/pui.contributor-blocks.css">

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

  <script src="//use.typekit.net/dol5ibr.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">

  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6496472/746208/css/fonts.css">
</head>

<body>
  <!-- @include header -->

  <div class="top-header">
    <p class="big">
      Pakyow is an open-source framework for the modern web. Build websites and web-based apps faster than ever with a view-first development process that's friendly to everyone.
      <br>
      <br>
      <iframe src="https://ghbtns.com/github-btn.html?user=pakyow&repo=pakyow&type=star&count=true&size=large" frameborder="0" scrolling="0" width="130px" height="30px"></iframe>
    </p>
  </div>

  <div id="main">
    <!-- @container -->
  </div>

  <!-- @include footer -->
</body>
</html>
